In [1]:
import pandas as pd

## Initialize data

In [2]:
df = pd.DataFrame({
    "Name": [
        "Braund, Mr. Owen Harris",
        "Allen, Mr. William Henry",
        "Bonnell, Miss. Elizabeth",
    ],
    "Age": [22, 35, 58],
    "Sex": ["male", "male", "female"],
})

## Get "Age" series

In [3]:
df["Age"]

0    22
1    35
2    58
Name: Age, dtype: int64

## Create "Age" series

In [4]:
ages = pd.Series([22, 35, 58], name="Age")

## Get max age

In [5]:
df["Age"].max()

np.int64(58)

In [6]:
ages.max()

np.int64(58)

## Describe data

In [7]:
df.describe()

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000